<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}File upload system{% endblock %}</title>
</head>
<body>
    <h1>{% block header %}File upload system{% endblock %}</h1>
    <nav>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('upload') }}">Upload files</a> |
            <a href="{{ url_for('my_files') }}">My Files</a>
            {% if current_user.role == 'admin' %}
                | <a href="{{ url_for('all_files') }}">All files</a>
            {% endif %}
            | <a href="{{ url_for('logout') }}">Exit</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a> |
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
